<a href="https://colab.research.google.com/github/andreyFernandoSoares/introducao-machine-learning-2/blob/main/Introdu%C3%A7%C3%A3o_a_Machine_Learning_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [10]:
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
data = pd.read_csv(uri)

map = {
    'home': 'principal',
    'how_it_works': 'como_funciona',
    'contact': 'contato',
    'bought': 'comprou'
}

data = data.rename(columns=map)

data.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [12]:
x = data[['principal', 'como_funciona', 'contato']]
y = data[['comprou']]

In [13]:
data.shape

(99, 4)

In [21]:
train_x = x[:75]
train_y = y[:75]

test_x = x[75:]
test_y = y[75:]

print('Treinaremos com %d elementos e testaremos com %d elementos' % (len(train_x), len(test_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [30]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(train_x, train_y)
predictions = model.predict(test_x)
accuracy = accuracy_score(test_y, predictions) * 100

print('A taxa de acerto foi %.2f%%' % accuracy)

A taxa de acerto foi 95.83%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Usando lib para separar treino de teste

In [45]:
from sklearn.model_selection import train_test_split

SEED = 20

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify = y)

print('Treinaremos com %d elementos e testaremos com %d elementos' % (len(train_x), len(test_x)))

Treinaremos com 74 elementos e testaremos com 25 elementos

In [46]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(train_x, train_y)
predictions = model.predict(test_x)
accuracy = accuracy_score(test_y, predictions) * 100

print('A taxa de acerto foi %.2f%%' % accuracy)

A taxa de acerto foi 96.00%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [47]:
train_y.value_counts()

comprou
0          49
1          25
dtype: int64

In [48]:
test_y.value_counts()

comprou
0          17
1           8
dtype: int64